.header-main {
    display: flex;
    width: 100%;
    padding-top: 100px;
    align-items: center;
}

.header-main .head-line {
    flex: 40%;
    margin-left: 10%;
}

.header-main .bg-img {
    flex: 40%;
    margin-right: 10%;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .header-main {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .header-main .head-line {
        flex: 100%;
        max-width: 90%;
    }


    .head-line .header-text {
        text-align: center;
        margin-right: 5%;
    }

    .bg-img .img {
        flex: 100%;
        max-width: 90%;
        text-align: center;
    }
}