.nav-logo {
    font-family: 'Smokum', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #180F4A;
    letter-spacing: 4px;
    cursor: default;
    text-shadow: 2px 4px 10px #000;
    font-style: italic;
}