.section-main {
    display: flex;
    margin: 80px 10% 100px 10%;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.section-main .nav-logo {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 70px;
    font-size: 55px;
}

.section-main .section-card {
    margin-top: 6%;
}